<h2 style="color: #2e6c80;">Dear Admin,</h2>
<p>The platform "{{ platform }}" with IP&nbsp;{{ ip }}&nbsp;is trying to register in the platform. You can choose if you want to register it or not.</p>
<h3 style="color: #2e6c80;">Take a decision:</h3>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<a href="{{ url_for('auth_page.validate_platform', data=token_provide, _external=True) }}"> <li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" />Active the platform</li></a>
<a href="{{ url_for('auth_page.validate_platform', data=token_not_provide, _external=True) }}"> <li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" />Delete the platform</li></a>
</ol>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Sincerely,</h2>
<h2 style="color: #2e6c80;">The Auth Team</h2>
<p>&nbsp;</p>