requests==2.20.1
Flask==1.0.2
waitress==2.1.1
pymongo==3.8.0
Flask-RESTful==0.3.7
PyYAML==5.1
Flask-Cors==3.0.9
openstacksdk==0.38.0
configobj==5.0.6
jsonschema==2.6.0
packaging==20.3
pyone==5.10.4
paramiko==2.6.0
scp==0.13.2
plumbum==1.6.9

